<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/address.css">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <title>收货地址</title>
</head>
<body>
    <!-- 头部 -->
    <header>
        <i class="fa fa-angle-left"></i>
        <span>收货地址</span>
    </header>
    <article>
        <div class="address">
            <p><span class="name">梅佩佩</span><span class="tel">13205631079</span></p>
            <p>浙江省杭州市江干区四季青街道风气东路189号滨江新城</p>
        </div>
        <div class="oprea">
            <p>
                <i class="write"></i>
                <span>编辑</span>
                <i class="delete"></i>
                <span>删除</span>
            </p>
            <p>
                <i class="check"></i>设为默认
            </p>
        </div>
    </article> 
    
</body>
</html>