<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/integration_rule.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <title>积分订单</title>
</head>
<body>
    <!-- 头部 -->
    <header>
        <i class="fa fa-angle-left"></i>
        <span>积分规则</span>
    </header>
    <article>
        <div class="art_rule">
            <p>小猪理财平台积分获取方式主要为：投资、签到、邀请好友及平台发起的活动等形式。</p>
            <p>主要规则如下：</p>
        </div>
        <div class="art_rule_title">
            <span>投资送积分</span>
        </div>
        <div class="art_rule_info">
            <p><span>结息送积分</span><span>可获得积分</span></p>
            <p><span>结算利息时按投资金额2%赠送积分</span><span>投资金额乘以2%</span></p>
        </div>
        <div class="art_rule_title">
            <span>签到送积分</span>
        </div>
        <div class="art_rule_info">
            <p><span>签到</span><span>可获得积分</span></p>
            <p><span>每日签到</span><span>4-8</span></p>
        </div>
        <div class="art_rule_title">
                <span>积分兑换及失效</span>
            </div>
            <div class="art_rule_info">
                <p><span>积分兑换及失效</span><span>说明</span></p>
                <p><span>积分兑换</span><span>兑换话费、流量实物商品</span></p>
                <p><span>积分失效</span><span>每年的12月30日零时，清楚上一年11月份及之前生成且未使用的积分</span></p>
            </div>
    </article>
</body>
</html>