<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/project_list.css">
    <title>项目列表</title>
</head>
<body>
     <!-- 头部 -->
    <header>
        <span>项目列表</span>
    </header>
    <nav>
        <ul>
            <li><a href="./project_list_1.html">定期理财</a></li>
            <li><a href="./project_list_2.html"  class="on">预约理财</a></li>
            <li><a href="./project_list_3.html">债券市场</a></li>
        </ul>
    </nav>
    <article>
        <div class="borrowing">
            <div class="b_left">
                <p class="title"><span>新</span>建筑工程企业补充流动资金借款</p>
                <p class="data"><span>11%+2%</span><span>8个月</span><span>可投60万</span></p>
                <p class="b_img"><span class="two"></span></p>
                <p class="b_info"><span>保障金</span><span>担保</span></p>
            </div>
            <div class="b_right">
                <span>我要投资</span>
            </div>
        </div>
        <div class="borrowing">
            <div class="b_left">
                <p class="title"><span>稳</span>建材经营企业补充流动资金借款</p>
                <p class="data"><span>9%+2%</span><span>4个月</span><span>可投100万</span></p>
                <p class="b_img"><span class="two"></span></p>
                <p class="b_info"><span>保障金</span><span>担保</span></p>
            </div>
            <div class="b_right">
                <span class="earnings">正在收益</span>
            </div>
        </div>
        <div class="borrowing">
            <div class="b_left">
                <p class="title"><span>新</span>电子科技企业补充流动资金借款</p>
                <p class="data"><span>12%+3%</span><span>12个月</span><span>可投200万</span></p>
                <p class="b_img"><span class="two"></span></p>
                <p class="b_info"><span>承保</span><span>保障金</span><span>担保</span></p>
            </div>
            <div class="b_right">
                <span class="earnings">正在收益</span>
            </div>
        </div>
        <div class="borrowing">
            <div class="b_left">
                <p class="title"><span>稳</span>办公用品企业补充流动资金借款</p>
                <p class="data"><span>6%+6%</span><span>1个月</span><span>可投80万</span></p>
                <p class="b_img"><span class="two"></span></p>
                <p class="b_info"><span>承保</span><span>保障金</span><span>担保</span><span>抵押</span></p>
            </div>
            <div class="b_right">
                <span class="earnings">正在收益</span>
            </div>
        </div>
        <div class="borrowing">
            <div class="b_left">
                <p class="title"><span>稳</span>个人经营性贷款</p>
                <p class="data"><span>6%+2%</span><span>1个月</span><span>可投100万</span></p>
                <p class="b_img"><img src="../img/index/strip_01.jpg" alt=""></p>
                <p class="b_info"><span>保障金</span><span>承保</span><span>担保</span></p>
            </div>
            <div class="b_right">
                <span class="earnings">正在收益</span>
            </div>
        </div>
    </article>
    <footer>
        <ul>
            <a href="./index.html"><li><p><img src="../img/m_index/home.gif" alt=""></p><span>首页</span></li></a>
            <a href="./project_list_1.html"><li><p><img src="../img/m_index/message_01.png" alt=""></p><span class="on">项目</span></li></a>
            <a href="./account.html"><li><p><img src="../img/index/mine.jpg" alt=""></p><span>我的</span></li></a>
            <a href="./more.html"><li><p><img src="../img/index/more.jpg" alt=""></p><span>更多</span></li></a>
        </ul>
    </footer>
</body>
</html>