<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/project_list.css">
    <link rel="stylesheet" href="../layui-v2.4.3/layui/css/layui.css">
    <script src="../layui-v2.4.3/layui/layui.js"></script>
    <title>项目列表</title>
</head>
<body>
     <!-- 头部 -->
    <header>
        <span>项目列表</span>
    </header>
    <div class="layui-tab layui-tab-brief" lay-filter="test">
        <ul class="layui-tab-title">
            <li class="layui-this"><a>定期理财</a></li>
            <li><a>预约理财</a></li>
            <li><a>债券市场</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>稳</span>建筑工程企业补充流动资金借款</p>
                            <p class="data"><span>11%+2%</span><span>8个月</span><span>可投60万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>保障金</span><span>担保</span></p>
                        </div>
                        <div class="b_right">
                            <span>我要投资</span>
                        </div>
                    </div>
                    <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>稳</span>建材经营企业补充流动资金借款</p>
                            <p class="data"><span>9%+2%</span><span>4个月</span><span>可投100万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>保障金</span><span>担保</span></p>
                        </div>
                        <div class="b_right">
                            <span>我要投资</span>
                        </div>
                    </div>
                    <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>新</span>电子科技企业补充流动资金借款</p>
                            <p class="data"><span>12%+3%</span><span>12个月</span><span>可投200万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>承保</span><span>保障金</span><span>担保</span></p>
                        </div>
                        <div class="b_right">
                            <span>我要投资</span>
                        </div>
                    </div>
                    <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>稳</span>办公用品企业补充流动资金借款</p>
                            <p class="data"><span>6%+6%</span><span>1个月</span><span>可投80万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>承保</span><span>保障金</span><span>担保</span><span>抵押</span></p>
                        </div>
                        <div class="b_right">
                            <span>我要投资</span>
                        </div>
                    </div>
                    <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>稳</span>个人经营性贷款</p>
                            <p class="data"><span>6%+2%</span><span>1个月</span><span>可投100万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>保障金</span><span>承保</span><span>担保</span></p>
                        </div>
                        <div class="b_right">
                            <span>我要投资</span>
                        </div>
                    </div>
            </div>
            <div class="layui-tab-item">
                <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>新</span>建筑工程企业补充流动资金借款</p>
                            <p class="data"><span>11%+2%</span><span>8个月</span><span>可投60万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>保障金</span><span>担保</span></p>
                        </div>
                        <div class="b_right">
                            <span>我要投资</span>
                        </div>
                    </div>
                    <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>稳</span>建材经营企业补充流动资金借款</p>
                            <p class="data"><span>9%+2%</span><span>4个月</span><span>可投100万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>保障金</span><span>担保</span></p>
                        </div>
                        <div class="b_right">
                            <span class="earnings">正在收益</span>
                        </div>
                    </div>
                    <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>新</span>电子科技企业补充流动资金借款</p>
                            <p class="data"><span>12%+3%</span><span>12个月</span><span>可投200万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>承保</span><span>保障金</span><span>担保</span></p>
                        </div>
                        <div class="b_right">
                            <span class="earnings">正在收益</span>
                        </div>
                    </div>
                    <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>稳</span>办公用品企业补充流动资金借款</p>
                            <p class="data"><span>6%+6%</span><span>1个月</span><span>可投80万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>承保</span><span>保障金</span><span>担保</span><span>抵押</span></p>
                        </div>
                        <div class="b_right">
                            <span class="earnings">正在收益</span>
                        </div>
                    </div>
                    <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>稳</span>个人经营性贷款</p>
                            <p class="data"><span>6%+2%</span><span>1个月</span><span>可投100万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>保障金</span><span>承保</span><span>担保</span></p>
                        </div>
                        <div class="b_right">
                            <span class="earnings">正在收益</span>
                        </div>
                    </div>
            </div> 
            <div class="layui-tab-item">
                <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>稳</span>建筑工程企业补充流动资金借款</p>
                            <p class="data"><span>11%+2%</span><span>8个月</span><span>可投60万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>保障金</span><span>担保</span></p>
                        </div>
                        <div class="b_right">
                            <span>立即认购</span>
                        </div>
                    </div>
                    <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>尊</span>建材经营企业补充流动资金借款</p>
                            <p class="data"><span>9%+2%</span><span>4个月</span><span>可投100万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>保障金</span><span>担保</span></p>
                        </div>
                        <div class="b_right">
                            <span>我要投资</span>
                        </div>
                    </div>
                    <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>新</span>电子科技企业补充流动资金借款</p>
                            <p class="data"><span>12%+3%</span><span>12个月</span><span>可投200万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>承保</span><span>保障金</span><span>担保</span></p>
                        </div>
                        <div class="b_right">
                            <span>立即认购</span>
                        </div>
                    </div>
                    <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>稳</span>办公用品企业补充流动资金借款</p>
                            <p class="data"><span>6%+6%</span><span>1个月</span><span>可投80万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>承保</span><span>保障金</span><span>担保</span><span>抵押</span></p>
                        </div>
                        <div class="b_right">
                            <span>立即认购</span>
                        </div>
                    </div>
                    <div class="borrowing">
                        <div class="b_left">
                            <p class="title"><span>稳</span>个人经营性贷款</p>
                            <p class="data"><span>6%+2%</span><span>1个月</span><span>可投100万</span></p>
                            <p class="b_img"><span class="two"></span></p>
                            <p class="b_info"><span>保障金</span><span>承保</span><span>担保</span></p>
                        </div>
                        <div class="b_right">
                            <span>立即认购</span>
                        </div>
                    </div>
            </div>
        </div>

    </div>
    <footer>
        <ul>
            <a href="./index.html"><li><p><img src="../img/m_index/home.gif" alt=""></p><span>首页</span></li></a>
            <a href="./project_list_1.html"><li><p><img src="../img/m_index/message_01.png" alt=""></p><span class="on">项目</span></li></a>
            <a href="./account.html"><li><p><img src="../img/index/mine.jpg" alt=""></p><span>我的</span></li></a>
            <a href="./more.html"><li><p><img src="../img/index/more.jpg" alt=""></p><span>更多</span></li></a>
        </ul>
    </footer>
</body>
<script>
layui.use('element', function(){
  var element = layui.element;

  
});

element.on('tab(test)', function(data){
  console.log(data);
});
element.on('tab(filter)', function(data){
  console.log(this); //当前Tab标题所在的原始DOM元素
  console.log(data.index); //得到当前Tab的所在下标
  console.log(data.elem); //得到当前的Tab大容器
});
</script>   
</html>